body {
  margin: 0;
}

#header {
  background-color: #212121;
  color: white;
}

#header h2 {
  margin: 0 0 0 20px;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

#main {
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.submit {
  text-align: center;
}

.back {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

#footer {
  background-color: #212121;
  color: white;
  text-align: center;
}
